canvas {
/*    background-color: black;*/
}
html {
    padding: 0px;
    margin: 0px;
}
body {
    padding:0px;
    margin:0px;
    height: 860px;
    width: 101%;
}
header {
    position: relative;
    margin: 0px;
    padding: 0px;
    height: 75px;
    background-color: #225378;
    width: 100%;
}
.navbar {
    margin: 0px;
    height: 75px;
}
.title {
    position: relative;
    margin: 0px;
    padding: 10px 20px;
    top: 8px;
    color: #f3ffE2;
    width: auto;
    display: inline-block;
}
.title a {
    text-decoration: none;
    color: inherit;
}
.nav {
    list-style-type: none;
    float: right;
    padding: 15px;
    position: relative;
    top: 10px;
    right: 40px;
    margin: 0px;
    width: auto;
    display: inline-block;
}
.nav li {
    display: inline-block;
    width: auto;
}
.slash {
    color: #f3ffe2;
}
.nav li a{
    font-size: 18px;
    text-decoration: none;
    color: #f3ffE2;
}
.navName {
    position: relative;
    bottom: 8px;
}
.controls {
    /*border:2px solid black; */
}
.bold {
    font-weight: bold;
    font-size: 18px;
}
.homeContainer {
    width: 100%;
    height: 860px;
    border: 1px solid #225378;
    padding: 15px;
    box-sizing: border-box;
    background-color: #1695A3; 
}
.topTitle {
    text-align: center;
    font-size: 36px;
    margin: 0px;
    margin-bottom: 5px;
}
.introDiv {
    width: 600px;
    border: 2px solid #225378;
    box-shadow: 0px 4px 3px black;
    margin: 0 auto;
    padding: 5px;
    border-radius: 5px;
    box-sizing: border-box;
    background-color: #ACF0F2;
    text-align: center;
}
.topParagraph {
    margin: 0px;
    width: 500px;
    padding: 5px;
    font-size: 18px;
    position: relative;
    display: inline-block;
}
.stepGuide {
    width: 400px;
    border: 2px solid #225378;
    box-shadow: 0px 4px 3px black;
    padding: 5px;
    border-radius: 5px;
    box-sizing: border-box;
    background-color: #ACF0F2;
    margin-top: 15px;
    text-align: center;
    font-size: 18px;
    display: inline-block;
}
.stepGuideSpan {
    font-size: 20px;
    font-weight: bold;
}
.topSignUp {
    font-size: 20px;
    width: 400px;
    float: right;
    border: 2px solid #225378;
    box-shadow: 0px 4px 3px black;
    padding: 5px;
    border-radius: 5px;
    box-sizing: border-box;
    background-color: #ACF0F2;
    margin-top: 15px;
    text-align: center;
    display: inline-block;
}
.stepContainer {
    width: 100%;
    text-align: center;
}
.steps {
    display: inline-block;
    min-width: 900px;
    max-width: 1000px;
}
.registerButton {
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  font-family: Arial;
  font-size: 24px;
    font-weight: bold;
  background: #225378;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  border: none;
  position: relative;
  left: 15px;
    color:#f3ffe2;
    margin-top: 15px;
    margin-bottom: 15px;
    display: inline-block;
}
.designModal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 60%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
}

/* Add Animation */
@-webkit-keyframes animatetop {
    from {top: -300px; opacity: 0} 
    to {top: 0; opacity: 1}
}

@keyframes animatetop {
    from {top: -300px; opacity: 0}
    to {top: 0; opacity: 1}
}

/* The Close Button */
.close {
    color: #f3ffe2;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #EB7F00;
    text-decoration: none;
    cursor: pointer;
}
.modal-header {
    padding: 2px 16px;
    background-color: #225378;
    color: white;
}
.modal-footer {
    padding: 2px 12px;
    background: #5cb85c;
    color: #f3ffe2;
}
.modal-body {
    padding: 10px 16px;
    background-color: #f3ffe2;
}
.modalName {
    font-size: 22px;
    color: #1695A3;
}
.modalInput {
    position: relative;
    border-color:#cccccc; 
    border-style:solid; 
    padding:5px; 
    font-size:13px; 
    border-width:2px; 
    border-radius:5px; 
    bottom: 2px;
}
.sizeInput {
    position: relative;
    border-color:#cccccc; 
    border-style:solid; 
    padding:3px; 
    font-size:13px; 
    border-width:2px; 
    border-radius:5px; 
    margin-top: 3px;
}
.width {
    left: 4px;
}
.modalSize {
    font-size: 22px;
    color: #1695A3;
}
.modalSizeOptions {
    position: relative;
    left: 30px;
    padding-top: 5px;
}
.optionLabel {
  color: #225378;
}
.option {
    position: relative;
    margin-top: 5px;
}
.customSizeDiv {
    display: none;
    position: relative;
    left: 40px;
    padding: 5px;
}
.view {
    height: 860px;
}
.container {
    width: 100%;
    height: 860px;
    
}
#background {
    position: absolute;
    overflow: hidden;
    margin: -5px -10px -10px -5px;
    top: 70px;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -4;
    height: 880px;
    background-image: url('/images/background.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    -webkit-filter: blur(5px);
    filter: blur(5px);
}
.loginForm {
    position: relative;
    top: 150px;
    width: 500px;
    text-align: center;
    height: 400px;
    border-radius: 15px;
    background-color: rgba(22,149,163,.7);
    margin: 0 auto;
    padding: 15px;
    -webkit-box-shadow: 7px 7px 8px 1px rgba(0,0,0,0.75);
    -moz-box-shadow: 7px 7px 8px 1px rgba(0,0,0,0.75);
    box-shadow: 7px 7px 8px 1px rgba(0,0,0,0.75);
}
.loginTitle {
    position: relative;
    font-size: 36px;
    text-align: center;
    margin-top: 5px;
    margin-bottom: 5px;
    text-decoration: underline;
}
.registerTitle {
    position: relative;
    font-size: 36px;
    text-align: center;
    margin-top: 5px;
    margin-bottom: 5px;
    text-decoration: underline;
}
.form-group {
    padding: 15px;
    text-align: center;
    position: relative;
    top: 10px;
}
.btn {
  -webkit-border-radius: 20;
  -moz-border-radius: 20;
  border-radius: 20px;
  -webkit-box-shadow: 0px 3px 2px #222;
  -moz-box-shadow: 0px 3px 2px #222;
  box-shadow: 0px 3px 2px #222;
  font-family: Arial;
  color: #000000;
  font-size: 20px;
  background: #eb7d00;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  position: relative;
  top: 40px;
  border: none;
}

.btn:hover {
  background: #ff8800;
  text-decoration: none;
    cursor: pointer;
}
.registerBtn {
    position: relative;
    top: 15px;
}
.form-control {
    font-size:16px; 
    border-width:2px; 
    border-color:#cccccc; 
    border-style:solid; 
    padding:10px; 
    border-radius:5px; 
    box-shadow: 0px 0px 10px 0px rgba(42,42,42,.85);
}
.label {
    font-size: 24px;
    font-weight: bold;
    position: relative;
    padding: 5px;
    margin-top: 0px;
    color: #f3ffe2;

}
.profileLabel {
    font-size: 24px;
    font-weight: bold;
    position: relative;
    padding: 5px;
    margin-top: 0px;
    color: #1695A3;
}
.registerLink {
    text-align: center;
    position: relative;
    top: 40px;
    font-size: 20px;
}
.loginLink {
    text-align: center;
    position: relative;
    top: 25px;
    margin: 0px;
    font-size: 20px;
}
.link {
    color: #ACF0F2;
}
.registerForm {
    height: 450px;
}
.profileInfo {
    position: relative;
    height: 125px;
    box-shadow: 0px 2px 3px black;
    background-color: #f3ffe2;
}
.nameGroup {
    display: block;
    padding-top: 20px;
    padding-left: 15px;
    width: auto;
    margin: 0px;
}
.fullName {
    margin:0px;
    width: auto;
    display: inline-block;
    font-size: 18px;
}
.email {
    margin: 0px;
    width: auto;
    display: inline-block;
    font-size: 18px;
}
.logoutBtn {
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  font-family: Arial;
  font-size: 16px;
  background: #1695A3;
  padding: 5px 10px 5px 10px;
  text-decoration: none;
  float: right;
  border: none;
  position: relative;
  left: 15px;
    color:#f3ffe2;
    
}
.designBody {
    background-color: #1695A3;
    height: 100%;
}
.logoutBtn:hover {
  background: #1aadba;
  text-decoration: none;
    cursor: pointer;
}
.designs {
    position: relative;
    display: inline-block;
    width: auto;
    height: auto;
    padding: 15px 20px 10px 25px;
}
.individualDesign {
    display: inline-block;
    position: relative;
    padding: 10px 5px 10px 5px;
    text-align: center;
    border: 3px solid #225378;
    margin: 0px;
    background-color: #F3FFE2;
    width: 180px;
    margin-right: 15px;
    margin-bottom: 20px;
}
.lastEdit {
    margin: 0px;
    font-size: 12px;
    color: #1695A3;
}
.designName {
    position: relative;
    display: inline-block;
    text-decoration: none;
    font-size: 24px;
    margin-bottom: 10px;
    color: #EB7F00;
}
.designsTitle {
    font-size: 24px;
    color: #f3ffe2;
    width: auto;
}
.buttonDiv {
    display: inline-block;
    width: 100%;
    text-align: center;
}
.createButton {
  -webkit-border-radius: 10;
  -moz-border-radius: 10;
  border-radius: 10px;
  font-family: Arial;
  color: #f3ffe2;
  font-size: 18px;
  background: #225378;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  border: none;
  box-shadow: 1px 2px 3px black;
}

.createButton:hover { 
  background: #2c6e9e;
  text-decoration: none;
    cursor: pointer;
}
.modalButton {
  -webkit-border-radius: 10;
  -moz-border-radius: 10;
  border-radius: 10px;
  font-family: Arial;
  color: #f3ffe2;
  font-size: 16px;
  background: #225378;
  padding: 5px 10px 5px 10px;
  text-decoration: none;
  border: none;
  box-shadow: 1px 2px 3px black;
    margin-top: 15px;
    margin-bottom: 10px;
}

.modalButton:hover { 
  background: #2c6e9e;
  text-decoration: none;
    cursor: pointer;
}
.textOptions {
    display: none;
}
.chat-container {
    position: fixed;
    bottom: 0px;
    right: 0px;
    width: 250px;
    border: 2px solid black;
    background-color: #225378;
    color: #f3fff2;
}
.chatHeader:hover {
    cursor: pointer;
}
.chatHeader h2 {
    margin: 0px;
    padding: 5px;
}
.chatBodyContainer {
    height: auto;
    display: none;
}
.chatBody {
    position: relative;
    display: inline-block;
    border-top: 2px solid black;
    background-color: #f3fff2;
    width: 100%;
    padding: 0px;
    height: 100%;
}
.chatMessages {
    display: inline-block;
    float: left;
    list-style-type: none;
    background-color: #f3fff2;
    margin: 0px;
    padding: 0px;
    width: 250px;
    max-height: 200px;
    overflow-y: auto;
    overflow-x: hidden;
}
.message {
    color: black;
    text-decoration: none;
    list-style-type: none;
    float: left;
    background-color: #f3fff2;
    width: 230px;
    height: auto;
    padding-left: 10px;
    padding-top: 10px;
    padding-right: 5px;
    padding-bottom: 10px;
    border-top: 1px solid lightgray;
}
.messageName {
    margin: 0px;
    font-weight: bold;
    display: inline;
    width: auto;
}
.userJoinedMessage {
    margin: 0px;
    display: inline;
    width: auto; 
}
.msgText {
    position: relative;
    margin: 0px;
    padding: 0px;
    padding-top: 5px;
    
}
.msgTime {
    display: inline;
    margin: 0px;
    padding: 0px;
    float: right;
    width: auto;
    padding-right: 10px;
}
.chat-container form {
    position: relative;
    display: inline-block;
    height: 27px;
}
.chat-container form input {
    padding: 5px;
    border: solid 1px #fff;
    box-shadow: inset 1px 1px 2px 0 #707070;
    transition: box-shadow 0.3s;
    width: 190px;
}

.chat-container form input:focus {
    box-shadow: inset 1px 1px 2px 0 #c9c9c9;
}
.chatButton {
    border: none;
    height: 27px;
    width: 48px;
    background-color: #ACF0F2;
}
.chatButton:hover {
    cursor: pointer;
    background-color: #bcffff;
}
.textOptions {
    position: fixed;
    top: 200px;
    right: 0px;
    width: 300px;
    height: auto;
    border: 2px solid black;
    padding: 8px;
    background-color: #ACf0f2;
}
.textOptions textarea{
    position: relative;
    width: 230px;
    height: 50px;
    box-shadow: inset 1px 1px 1px black;
    padding: 5px;
    font-size: 14px;
    
}
.textStyle {
    display: inline-block;
    width: 242px;
    position: relative;
    line-height: 1.4;
    font-weight: bold;
}
.fontFamilySelect {
    float: right;
}
.alignSelect {
    position: relative;
    right: 75px;
    float: right;
}
.fontSizeSelect {
    float: right;
    position: relative;
    right: 100px;
}
.textOptionsButtons {
    display: inline-block;
    position: relative;
    float: right;
    width: 50px;
    left: 10px;
}
.boldButton {
    font-weight: bold;
    text-align: center;
    font-size: 16px;
    width: 28px;
}
.italicizeButton {
    font-family: serif;
    font-style: italic;
    text-align: center;
    font-size: 16px;
    width: 28px;
    margin-top: 5px;

}
.underlineButton {
    text-decoration: underline;
    text-align: center;
    font-size: 16px;
    width: 28px;
    margin-top: 5px;

}
.strikethroughButton {
    text-decoration: line-through;
    text-align: center;
    font-size: 16px;
    width: 28px;
    margin-top: 5px;
}
.fabric-container {
    position: relative;
    text-align: center;
    background-color: lightgray;
    padding: 15px;
}
.canvas-container {
    border: 1px solid gray;
    display: inline-block;
    background-color: white;
    cursor: default;
    width: auto;
    height: auto;
    box-shadow: 12px 0 10px -3px rgba(31, 73, 125, 0.8), -12px 0 8px -4px rgba(31, 73, 125, 0.8);
}

.controls {
    background-color: dimgray;
    padding: 5px;
}
.rectButton {
    background: #ccc url('/images/squareIcon.png') no-repeat center;
    background-size: 25px;
    padding: 8px 18px;
    border: 1px solid black;
}
.rectButton:hover {
    cursor: pointer;
}
.elipseButton {
     background: #ccc url('/images/ellipseIcon.png') no-repeat center;
     background-size: 30px;
     padding: 8px 18px;
     border: 1px solid black;
}
.elipseButton:hover {
    cursor: pointer;
}
.triangleButton {
    background: #ccc url('/images/triangleIcon.png') no-repeat center;
    background-size: 27px;
    padding: 8px 18px;
    border: 1px solid black;
}
.triangleButton:hover {
    cursor: pointer;
}
.polygonButton {
    background: #ccc url('/images/hexagonIcon.png') no-repeat center;
    background-size: 27px;
    padding: 8px 18px;
    border: 1px solid black;
}
.polygonButton:hover {
    cursor: pointer;
}
.textButton {
    background: #ccc url('/images/textIcon.png') no-repeat center;
    background-size: 23px;
    padding: 8px 18px;
    border: 1px solid black;
}
.textButton:hover {
    cursor: pointer;
}
.imgButton {
    background: #ccc url('/images/imgShapeIcon.png') no-repeat center;
    background-size: 23px;
    padding: 8px 18px;
    border: 1px solid black;
}
.imgButton:hover {
    cursor: pointer;
}
.pointerButton {
    background: #ccc url('/images/pointerIcon.png') no-repeat center;
    background-size: 23px;
    padding: 8px 18px;
    border: 1px solid black;
}
.pointerButton:hover {
    cursor: pointer;
}
.lineButton {
    background: #ccc url('/images/lineIcon.png') no-repeat center;
    background-size: 28px;
    padding: 8px 18px;
    border: 1px solid black;
}
.lineButton:hover {
    cursor: pointer;
}
.selectedButton {
    background-color: #EB7F00;
}
.info {
    background-color: #ACF0F2;
}
.projectName {
    display: inline-block;
    width: auto;
    font-size: 18px;
    position: relative;
    left: 15px;
}
.shareButton {
    position: relative;
    float: right;
    background: #225378;
    background-image: -webkit-linear-gradient(top, #225378, #112b3d);
    background-image: -moz-linear-gradient(top, #225378, #112b3d);
    background-image: -ms-linear-gradient(top, #225378, #112b3d);
    background-image: -o-linear-gradient(top, #225378, #112b3d);
    background-image: linear-gradient(to bottom, #225378, #112b3d);
    -webkit-border-radius: 4;
    -moz-border-radius: 4;
    border-radius: 4px;
    font-family: Arial;
    color: #ffffff;
    font-size: 16px;
    padding: 8px 16px 8px 16px;
    text-decoration: none;
    font-weight: bold;
    border: none;
    width: auto;
    top: 10px;
    right: 25px;
}
.shareButton:hover {
    background: #2e7cb3;
    background-image: -webkit-linear-gradient(top, #2e7cb3, #29638c);
    background-image: -moz-linear-gradient(top, #2e7cb3, #29638c);
    background-image: -ms-linear-gradient(top, #2e7cb3, #29638c);
    background-image: -o-linear-gradient(top, #2e7cb3, #29638c);
    background-image: linear-gradient(to bottom, #2e7cb3, #29638c);
    cursor: pointer;
}
.export {
    position: relative;
    float: right;
    right: 22px;
    text-decoration: none;
    font-size: 18px;
    color: #1695A3;
    padding: 5px 10px 5px 10px;
    background-color: #F3FFE2;
    border-radius: 5px;
    top: 2px;    
}
.error {
    margin: 0px;
    color: #EB7F00;
    width: auto;
    font-weight: bold;
    font-size: 18px;
    display: inline-block;
    position: relative;
    top: 20px;
}
@keyframes notification {
    0% {background-color: #225378;}
    50% {background-color: #1695A3;}
    100% {background-color: #225378;}

}
.notification {
    animation-name: notification;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}
.shapeInfoModal {
    display: none;
    width: 250px;
    padding: 15px;
    border: 2px solid #225378;
    position: fixed;
    top: 400px;
    right: 0px;
    background-color: #ACf0f2;
    box-shadow: 1px 3px 3px black;
}
.shapeInfoTitle {
    margin: 0px;
    margin-bottom: 10px;
    text-decoration: underline;
    font-weight: bold;
    text-align: center;
    font-size: 22px;

}
.commentTextArea {
    position: relative;
    width: 230px;
    height: 50px;
    box-shadow: inset 1px 1px 1px black;
    padding: 5px;
    font-size: 14px;
}
.commentLabelText {
    position: relative;
    padding: 5px;
    font-size: 14px;
    width: 230px;
    margin-bottom: 5px;
}
.shapeLabel {
    font-weight: bold;
    font-size: 16px;
}
.shapeCommentLabel {
    font-weight: bold;
    font-size: 16px;
}