extends ../includes/layout

block main-content
    section.content
        div(ng-view)
        canvas(id='c' width="1000px" height="1000px") canvas not supported
        input(type='button' id='delete' value='Delete' onclick='deleteShape()')
        script(type='text/javascript' src='/app/shape.js')