<div class="container">
    <div id="background"></div>
    <form class='registerForm loginForm' ng-submit='vm.onSubmit()'>
        <h2 class="registerTitle">Register</h2>
        <p ngif='{{error}}'>{{error}}</p>
        <div class='form-group'>
            <label class='label'for='name'>Full name</label>
            <br>
            <input type='text' class='form-control' id='name' placeholder='Enter your name' ng-model='vm.credentials.name' required>
        </div>
        <div class='form-group'>
            <label class='label' for='email'>Email address</label>
            <br>
            <input type='email' class='form-control' id='email' placeholder='Enter email' ng-model='vm.credentials.email' required>
        </div>
        <div class='form-group'>
            <label class='label' for='password'>Password</label>
            <br>
            <input type='password' class='form-control' id='password' plassholder='Password' ng-model='vm.credentials.password' required>
        </div>
        <button type='submit' class='registerBtn btn btn-default'>Register!</button>
        <p class="loginLink">Already have an account? <a class="link" ng-href='login'>Click here to log in</a></p>
    </form>
</div>
