<div class="info">
    <p class="projectName">Project name: {{vm.designName}}</p>
    <button class="shareButton" id='myBtn' ng-click='vm.openModal()'>Share Design</button>
</div>
<div class="controls">
    <input type="button" id="pointer" ng-click="vm.changeToPointer()" class='pointerButton' title='Selector Tool'/>
    <input type="button" id="rect" ng-click="vm.changeToRect()" class='rectButton' title='Rectangle Tool'/>
    <input type="button" id="ellipse" ng-click="vm.changeToEllipse()" class='elipseButton' title='Ellipse Tool'/>
    <input type="button" id="triangle" ng-click="vm.changeToTriangle()" class='triangleButton' title='Triangle Tool'/>
    <input type="button" id="imgShape" ng-click="vm.changeToImgShape()" class='imgButton' class='imgShapeButton' title='Image Tool'/>
    <input type="button" id="polygon" ng-click="vm.changeToPolygon()" class='polygonButton' title='Hexagon Tool'/>
    <input type="button" id="i-text" ng-click="vm.changeToText()" class='textButton' title='Text Tool'/>
    <input type="button" id="line" ng-click="vm.changeToLine()" class='lineButton' title='Line Tool'/>
    <a class='export' id="exportLink" href='#'>Export Design</a>
    <div class="shareModal designModal" class='modal'>
        <div class="modal-content">
            <div class="modal-header">
                <span class="close" ng-click='vm.closeModal()'>X</span>
                <h2>Share your design</h2>
            </div>
            <div class="modal-body">
                <form ng-submit="vm.shareDesign()">
                    <label class='modalName' for="title">Email address:</label>
                    <input class='modalInput' ng-model='vm.shareInfo.email' type="text" id="title" required>
                    <br>
                    <label for="permission" class="modalSize">User permission:</label>
                    <div class='modalSizeOptions' id="permission">
                        <label><input class="optionLabel" type="radio" name="permission" value="edit" id="edit" ng-model='vm.shareInfo.permission' required>Can Edit</label>
                        <label><input class='optionLabel' type='radio' name='permission' value="view" id="view" ng-model='vm.shareInfo.permission' required>View only</label>
                    </div>
                    <button class='modalButton' type="submit">Share</button>
                </form>
            </div>
        </div>
    </div>
</div>
<div class="fabric-container" >
    <canvas id='c' width="800" height='800'>canvas not supported</canvas>
</div>
<div id="textOptions" class='textOptions'>
    <textarea id='textValue' ng-model='vm.textOptions.text'></textarea>
    <div class='textOptionsButtons' id='moreTextOptions'>
        <button class='boldButton' type="button" id='toggleBold' title="Bold">B</button>
        <button class="italicizeButton" type="button" id='toggleItalic' title="Italicize">I</button>
        <button class='underlineButton' type="button" id='toggleUnderline' title="Underline">U</button>
        <button class="strikethroughButton" type="button" id='toggleLinethrough' title='Strikethrough'>S</button>
    </div>
    <div class="textStyle">
        <label for="font-family">Font Family:</label>
        <select class="fontFamilySelect" id="font-family" ng-model='vm.textOptions.fontFamily'>
            <option value="Arial">Arial</option>
            <option value="Helvetica">Helvetica</option>
            <option value="Myriad Pro">Myriad Pro</option>
            <option value="Delicious">Delicious</option>
            <option value="Verdana">Verdana</option>
            <option value="Georgia">Georgia</option>
            <option value="Courier">Courier</option>
            <option value="Impact">Impact</option>
            <option value="Monaco">Monaco</option>
            <option value="Optima">Optima</option>
            <option value="Times New Roman">Times New Roman</option>
        </select>
        <label for="text-align" >Text Align:</label>
        <select class='alignSelect' id='text-align' ng-model='vm.textOptions.textAlign'>
            <option value="left" selected>Left</option>
            <option value="center">Center</option>
            <option value="right">Right</option>
        </select>
        <br>
        <label for="font-size">Font Size:</label>
        <select class='fontSizeSelect' name='font-size' id="font-size" ng-model='vm.textOptions.fontSize'>
            <option value='8'>8</option>
            <option value='10'>10</option>
            <option value='11'>11</option>
            <option value='12'>12</option>
            <option value='14'>14</option>
            <option value='16'>16</option>
            <option value='18'>18</option>
            <option value='20'>20</option>
            <option value='24'>24</option>
            <option value='30'>30</option>
            <option value='36'>36</option>
            <option value='48'>48</option>
            <option value='60'>60</option>
            <option value='72'>72</option>
        </select>
    </div>

</div>
<div id='chatContainer' class='chat-container'>
    <div class="chatHeader" id="chatHeader" ng-click='toggleChat()'>
        <h2>Chat</h2>
    </div>
    <div class="chatBodyContainer">
        <div class='chatBody' id="chatRoom">
            <ul class='chatMessages' id="messages"></ul>
        </div>
        <form ng-submit='vm.sendMessage()'>
            <input type="text" id="m" autocomplete='off'/><button class="chatButton">Send</button>
        </form>
    </div>

</div>
